.navbar{
    padding: .5rem 1rem;

    
}
.nav{
    display: relative;
    list-style: none;
    justify-content: space-around;
    float: right;
    
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Montserrat";
    opacity: 0.4;
    font-weight: semi-bold;
}